h1,h2 {
    color: blue;
}

.relevante {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
}

#result, #multiplication-result {
    display: none;
}

#total {
    border-style: dashed;
}

#gastos_Netos {
    border-style: solid;
}